@model IEnumerable<Sandbox.Web.Models.PersonModel>
@{
    ViewBag.Title = "People";
}

<h2>People</h2>

<section class="entity-list">
    <ul>
        <li>Id</li>
        <li>Name</li>
        <li>Birthdate</li>
        <li>Gender</li>
        <li></li>
        <li></li>
    </ul>
    @foreach(var p in Model)
    {
        <ul class="model-display" data-id="@p.Id">
            <li>@p.Id</li>
            <li>@p.Name</li>
            <li>@p.BirthDate.ToShortDateString()</li>
            <li>@p.Gender</li>
            <li>
                <a class="fa fa-pencil edit" href="@Url.Action("Update", new {p.Id})"></a>
            </li>
            <li>
                <a class="fa fa-times delete intercept" href="@Url.Action("Delete", new {p.Id})"></a>
            </li>
        </ul>
    }
</section>


@Html.ActionLink("New Person", "Add")

@section scripts {
<script>
    $(function() {
        $('.delete.intercept').on('click', function (e) {
            var $this = $(this);

            e.preventDefault();

            $.ajax({
                url: $this.attr('href'),
                type: 'DELETE',
                success: function(data) {
                    console.log(data);
                    $this.closest('ul').remove();
                },
                error: function(e) {
                    alert('delete failed; see console for error details');
                    console.error(e);
                }
            });
        });
    });
</script>
}
